/* global.css */

* {
  font-family: 'Poppins', sans-serif;
}

*[hidden] {
  display: none !important;
}

body {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr auto auto 1fr;
  justify-items: center;
  row-gap: 5vh;
}

body.service-down {
  align-items: center;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}

body.service-down>header {
  align-self: center;
  text-align: center;
}

body.service-down>header p {
  align-self: center;
  font-size: 1.5rem;
  text-align: center;
}

body, html {
  animation: gradient 25s ease infinite;
  background: linear-gradient(-30deg, #333d5f, #716bfb, #734f9d, #ef9fcb);
  background-size: 400% 400%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  background-color: white;
  color: black;
  transition: 0.07s ease all;
}

button, input {
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  padding: 14px 20px;
}

h1 {
  font-size: 2.8rem;
}

h1, form {
  margin: 0;
  padding: 0;
}

header {
  color: white;
  align-self: flex-end;
}

form {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type='url'] {
  box-sizing: border-box;
  margin-right: 15px;
  max-width: 650px;
  width: 50%;
}

output {
  background-color: #263252;
  border-radius: 12px;
  color: white;
  font-size: 1.5rem;
  display: block;
  margin-right: 15px;
  padding: 10px 20px;
}

#copy {
  background-color: #263252;
  color: white;
}

#copy::before {
  background-color: white;
  border-radius: 5px;
  content: 'Copied!';
  color: black;
  margin: -58px -21.5px;
  padding: 5px 10px;
  position: absolute;
  transition: 2s ease all;
  opacity: 0;
}

#copy.copied::before {
  transition: none;
  opacity: 0.7;
}

#output-wrapper {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
}

#qr-code {
  align-self: flex-start;
  border-radius: 5px;
  height: 400px;
  opacity: 1;
  width: 400px;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@media (hover: hover) {
  button:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: 0.07s ease all;
  }
  
  button:active {
    transform: scale(1.02);
    transition: none;
  }
}

@media only screen and (max-height: 1100px) {
  #qr-code {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 1.8rem;
  }

  form {
    display: grid;
    width: 100%;
  }

  form button {
    margin-left: -15%;
    width: 130%;
  }

  input[type="url"] {
    margin: 0 0 10px -15%;
    width: 130%;
  }

  output {
    margin-right: 10px;
  }

  #qr-code {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 440px) {
  html {
    font-size: 12px;
  }
}